.button {
    -fx-background-radius: 10px;
    -fx-background-color: antiquewhite;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.rectangle {
    -fx-fill: WHITE;
}

CardNode {
    visibility: hidden;
    -fx-background-color: grey;
    -fx-border-color: lightcyan;
}